<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>biblibot</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
</head>
<body>
<h1><a href="/">biblibot</a></h1>
{% block content %}{% endblock %}
<hr />
<p>
Created by <a href="http://libriotech.no/">Libriotech</a>. 
<a href="http://github.com/MagnusEnger/biblibot">Source code</a>. 
Work in progress...
</p>
</body>
</html>